<%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>

<section>
  <h2 class="alert alert-primary" role="header">ElasticSearch results</h2>

  <div class="alert alert-danger" role="alert">
    Term/Displayed/Found: "<%= @term %>"/<%= @articles.size %>/<%= @articles.count %>
  </div>

  <% if @articles.size.zero? %>
    <div class="alert alert-danger" role="alert">
      Sorry. No Search Results
    </div>
  <% end %>

  <% @articles.each do |article| %>
    <article class="card the-search-highlight" data-search-words="<%= [@term].to_json %>">
      <div class="card-body">
        <h3 class="card-title"><%= article.title %></h3>
        <p class="card-text"><%= raw article.content %></p>
      </div>
    </article>
  <% end %>

  <div class="section-pagination">
    <%= paginate @articles %>
  </div>
</section>
