<%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>

<section>
  <h2 class="header-section">ElasticSearch results</h2>

  <div class="section-description">
    <p>Term/Displayed/Found: "<%= @term %>"/<%= @articles.size %>/<%= @articles.count %></p>
  </div>

  <% if @articles.size.zero? %>
    <div class="section-description">
      <p>Sorry. No Search Results</p>
    </div>
  <% end %>

  <% @articles.each do |article| %>
    <article class="article the-search-highlight" data-search-words="<%= [@term].to_json %>">
      <h3 class="article-header"><%= article.title %></h3>
      <p class="article-content"><%= raw article.content %></p>
    </article>
  <% end %>

  <div class="section-pagination">
    <%= paginate @articles %>
  </div>
</section>
