<%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>

<section>
  <div class="alert alert-danger" role="alert">
    Term/Displayed/Found: "<%= @term %>"/<%= @articles.size %>/<%= @articles.count %>
  </div>

  <h2 class="alert alert-primary" role="header">ElasticSearch Results</h2>

  <% if @articles.size.zero? %>
    <div class="alert alert-danger" role="alert">
      Sorry. No Search Results
    </div>
  <% end %>

  <div class="mb-3">
    <% @articles.each do |article| %>
      <%= render partial: 'articles/article', locals: { article: article } %>
    <% end %>
  </div>

  <%= paginate @articles %>
</section>
