<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rails 7. StartKit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link active", 'aria-current': :page %>
        </li>
        <%= render partial: 'demo/services' %>
        <%= render partial: 'demo/examples' %>
        <%= render partial: 'demo/devise' %>
      </ul>

      <%= render partial: 'demo/search_form' %>
    </div>
  </div>
</nav>

<div style="text-align:center">
  <br>
  <h1 class="page-header">
    <a href="https://github.com/the-teacher/rails7-startkit#rails-7-start-kit">
      <img width="300px" src="/Rails7.StartKit.jpg" />
    </a>
  </h1>
  <p>
    <a href="https://github.com/the-teacher/rails7-startkit#rails-7-start-kit">Rails 7. StartKit.</a> Please tell your friends about this project.
  </p>
  <br>
</div>
