<%= render partial: 'demo/common_info', locals: { file: __FILE__ } %>

<h2>Log in</h2>

<div class="card mb-3">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control w-25' %>
      </div>

      <div class="mb-3">
        <%= f.label :password , class: 'form-label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control w-25' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-3">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
