<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="articles-wrapper">
      <header>
        <h1 class="articles-header">Rails 7. StartKit</h1>
      </header>
      <main><%= yield %></main>
      <footer>
        Made with &hearts; by <a href="https://github.com/the-teacher">the-teacher</a>
      </footer>
    </div>
  </body>
</html>
