<!DOCTYPE html>
<html>
  <head>
    <title>Rails7. StartKit. By Ilya N. Zykin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="articles-wrapper">
      <header>
        <div>
          <h1 class="page-header"><a href="https://github.com/the-teacher/rails7-startkit">Rails 7. StartKit</a></h1>
          <p class="section-description">
            Please tell your friends about this project.
          </p>
        </div>
      </header>
      <main><%= yield %></main>
      <footer>
        Made with &hearts; by <a href="https://github.com/the-teacher">the-teacher</a>
      </footer>
    </div>
  </body>
</html>
