<!DOCTYPE html>
<html>
  <head>
    <title>Rails7. StartKit. By Ilya N. Zykin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body">
      <%= render partial: 'demo/header' %>
      <%= render partial: 'shared/flash_messages' %>
      <%= yield(:common_info) %>
      <%= render partial: 'demo/common_links' %>
      <%= yield %>
      <%= render partial: 'demo/footer' %>
    </div>
  </body>
</html>
