<!DOCTYPE html>
<html>
  <head>
    <title>Rails7. StartKit. By Ilya N. Zykin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="articles-wrapper">
      <%= render partial: 'demo/header' %>
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
      <footer>
        Made with &hearts; by <a href="https://github.com/the-teacher">the-teacher</a>
      </footer>
    </div>
  </body>
</html>
